@{
    ViewData["Title"] = "Мы - сообщество любителей кулинарии";
}

<div class="container_about_us">
    <div class="row_about_us">
        <div class="col-md-6">
            <h2 class="story_of_the_project_topic">Идея возникновения платформы</h2>
            <p>
                Идея возникновения сайта с рецептами возникла из желания создать удобное и интерактивное пространство, 
                где люди могут делиться своими любимыми кулинарными рецептами, получать новые идеи для приготовления блюд, 
                и общаться с другими участниками сообщества.
            </p>
            <p>
                Начало этой идеи пришло от страсти к кулинарии и желанию создать цифровое сообщество, 
                где каждый может найти вдохновение и поддержку в своих кулинарных увлечениях.
            </p>
            <p>
                Мы стремимся создать сайт, который будет вдохновлять людей экспериментировать с новыми рецептами, открывать для себя различные кулинарные традиции и обогащать свой кулинарный опыт. Мы хотим, чтобы наш сайт стал местом, где начинающие и опытные повара могут обмениваться идеями, советами и личными историями успеха.
                Мы также стремимся создать дружественное и поддерживающее сообщество, где каждый участник может чувствовать себя приветствованным и вдохновленным.
            </p>
        </div>
        <div class="col-md-6">
            <img class="sibsauimg" src="~/lib/ramen.jpg" alt="Описание изображения" style="float: right; margin-left: 20px;">
        </div>
    </div>
</div>