@{
    ViewData["Title"] = "Мы - первый ресурс для знакомств в СИБГУ";
}

<div class="container_about_us">
    <div class="row_about_us">
        <div class="col-md-6">
            <h2 class="story_of_the_project_topic">История основания проекта</h2>
            <p>Очень часто можно заметить, как студенты нашего университета
                ищут различных людей, которые им понравились по средствам соц. сетей.
            </p>
            <p>
                Также кто-то продаёт старый холодильник или ищет команду для совместного проекта. Некоторые ищут вакансии на работу, чтобы можно было удобно совмещать с учебой. Данный ресурс
                призван помочь таким людям в поисках. Задавайте любой интересующий вас вопрос в разделе "Форум".
            </p>
        </div>
        <div class="col-md-6">
            <img class="sibsauimg" src="https://newslab.ru/images/2020/09_Sept/14/IMG_48582.jpg" alt="Описание изображения" style="float: right; margin-left: 20px;">
        </div>
    </div>
</div>