@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>

    <div class="start_meeting_button">
        <a class="create_acc btn" href="/Identity/Account/Register" role="button">Создать аккаунт</a>
        <a class="login btn" href="/Identity/Account/Login" role="button">Войти</a>
    </div>
</div>




