
@{
    ViewData["Title"] = "Правила";
}

<h1 class="project_rules">Правила проекта</h1>
<div class="Rules">

<h2>1. Общие правила</h2>
<p>
        <br />
    1.1. Сообщение должно нести смысловой характер, пост не должен содержать только смайлик.
        <br />
    1.2. Перед публикацией повествовательной темы (без вопроса) рекомендуется воспользоваться поиском (ctrl + F), т.к. такая тема уже может быть поднята кем-то другим, и ваша будет только засорять форум.
        <br />
    1.3. Обезопасьте свой аккаунт: не используйте одинаковый пароль на всех аккаунтах.
        <br />
    1.4. Уважайте пользователей форума. Запрещено упоминание родителей, родственников, членов семьи (в том числе отчима и мачехи) пользователя в комментарии, несущем негативный характер, либо в завуалированной форме их оскорбления. У команды форума есть право на блокировку пользователя, в случаях неоднократного неадекватного / неуважительного / оскорбительного отношения в адрес Пользователей форума / Команды форума. Жалоба на данные блокировки будет рассмотрена Администрацией форума.
        <br />
    1.4.1. Запрещены прямые или косвенные оскорбления команды форума.
        <br />
    1.4.2. Запрещено использование никнеймов, содержащих оскорбления, уничижительные слова или дискриминацию.
        <br />
    1.5. При обмене информацией с сайта обязательно указывайте источник.
        <br />
    1.6. На сайте имеется контент, предназначенный для лиц старше 18 лет.
        <br />
    1.7. На форуме существует FAQ, а также раздел гайды по форуму.
        <br />
    1.8. Сайт не придерживается определенной национальности, но на форуме принято общаться на русском языке.
        <br />
    1.9. Запрещено призывать народ к чему-либо, призывать к межнациональной розни, охаивание и оскорбления представителей любой национальности.
        <br />
</p>

<h2>2. Правила проекта</h2>
<p>
        <br />
    2.1. Запрещен спам своего магазина/сайта/канала/группы на форуме или по контактной информации пользователей - бан/занесение вашего магазина или сайта в черный список и блокировка вашего аккаунта.
        <br />
    2.2. Запрещены темы следующих видов:
    не несущие пользы форуму, сообщения со скримерами, кликбейтом, шок контентом.
    пирамиды, хайпы, дропы, airdrop, NFT, ICO, Bounty, крипто краны, поднятие, умножение чужих денег.
    прогнозы, ставки на спортивные/игровые события.
    сборники софтов/программ.
    раздачи рублей, промокодов Snebes, VK coin, лайков и просмотров ВК, авторегов Steam/Рамблер, раздачи запросов (аккаунты с определенными письмами).
    раздачи росписей, +rep в профилях.
    с вопросами по типу "как быстро поднять симпатии" и им подобные.
    о кардинге, проведении DDoS атак (софт, скрипты, статьи, стрессеры, панели и доступ к ним), наркотиках, экстремизме, терроризме, суициде, взятках, шоплифтингу, об изготовлении оружия и другие темы, нарушающие законодательство Российской Федерации.
    пропаганда и призыв пользователей к нарушению каких-либо законов Российской Федерации и других стран СНГ.
        <br />
    2.3. Накрутка комментариев - удаление аккаунта.
        <br />
    2.4. Выпрашивание комментарев также запрещено.
        <br />
    2.5. Распространение вредоносных файлов запрещено.
        <br />
    2.6. Создание вторичного аккаунта разрешено, но участвовать в розыгрышах и получать раздачи можно только с одного аккаунта. Будут заблокированы все аккаунты, если это правило будет нарушено. Если один из аккаунтов заблокирован, то все остальные аккаунты могут быть заблокированы. Продажа профиля от этого форума запрещена.
        <br />
    2.7. Сливать приватную информацию с этого форума запрещено.
        <br />
    2.8. При выкладывании любого исполнительного файла, а также DLL библиотек необходимо прилагать ссылку на результат анализа публикуемого файла на сайте Virustotal.com
        <br />
    2.9. Деаноны на форуме запрещены. Аналогично запрещены ссылки, ведущие на сайты, где опубликована личная информация о пользователях форума.
        <br />
    2.10. Использовать сокращенные ссылки запрещено.
        <br />
    2.11. "Вредить/Взламывать/Угрожать/Ddos'ить" Другие "Сайты/Форумы" От лица "Lolzteam" - запрещено. Занимайтесь данной деятельностью как юридическое лицо, не имеющее никакого отношения к данному форуму.
        <br />
    2.12. Темы необходимо размещать адекватные.
        <br />
    2.13. Злоупотребление "CAPS LOCK" запрещено.
        <br />
    2.14. Если Вас удалили без причины пишите в лс админу.
        <br />
    2.15. Запрещено заливать файлы на файлообменники ska4ay.com, mediadisk.net и им подобные.
        <br />
    2.16. Запрещено поднимать старые неактуальные темы.
        <br />
    2.17. Просить "личный" разрешено только в ЛС автору темы, в теме это делать запрещено. Исключение - темы с раздачами (аккаунтов, ключей, вещей и т.д), кроме раздач баз.
        <br />
    2.18. Запрещено размещать реферальные ссылки без указания обычной.
        <br />
    2.19. Размещая рекламу в профиле, вы соглашаетесь с тем, что ответственность за нарушение Правил Форума создателем рекламируемого сервиса будет так же распространяться и на вас.
        <br />
    2.20. Поднимать тему словами "Ап", "актуально" запрещено. Для этого есть кнопка "Поднять тему", которая находится в меню при клике на "Опции темы".
        <br />
    2.21. Попрошайничество запрещено (займите 100р, дайте аккаунт варфейс и т.д.), аналогично запрещено просить товар/услугу за отзыв в теме (в личных сообщениях разрешено просить товар/услугу за отзыв в теме).
        <br />
    2.22. Правило перенесено в 2.2.
        <br />
    2.23. Запрещено продавать/покупать работы, но разрешено заниматься репетиторством или помогать с выполнением, где тот, кто оказывает услуги, прибывает в роли лектора.
        <br />
    2.24. Заголовок темы должен вкратце отображать ее суть, запрещены заголовки вида "Помогите!!", "Все сюда", "на помощь", "что делать??", "help" и им подобные.
        <br />
    2.25. Запрещена любая деструктивная деятельность, провоцирующая конфликтные ситуации между пользователями или которая вредит репутации форума.
        <br />
</p>

<h2>3. Торговля</h2>
<p>
        <br />
    3.1. Название темы при продаже товара должно раскрывать суть содержания темы.
        <br />
    3.2. Цена товара/услуги должна обязательно быть указана в теме.
        <br />
    3.3. В теме должно присутствовать описание товара или услуги. Если вы продаете товар, должна идти ссылка на профиль и (или) несколько скриншотов профиля/инвентаря. Указывайте происхождение вещей (брут/личный).
        <br />
    3.4. Запрещены темы по продаже услуг пробива (государственного, мобильного и т.д.).
        <br />
    3.5. Если человек состоит в Команде Форума, значит, он имеет право проверить ваш товар. Отказ от проверки будет расценен как мошенничество. На момент проверки проверяющий закрывает тему, после - открывает и пишет отзыв о товаре/услуге.
        <br />
    3.6. Занимаясь коммерческой деятельностью на форуме, вы автоматически соглашаетесь на проведение любых сделок через гаранта этого сайта и систему "Безопасная сделка".
        <br />
    3.7. Продавать любые способы, мануалы, обучение за деньги, контакты поставщиков, скупщиков (и им подобных) запрещено, это относится и к магазинам, размещенным на этом форуме.
        <br />
    3.8. Запрещена продажа дипломных/курсовых работ.
        <br />
    3.9. Запрещены темы с услугами о взломе почт, страниц, о продаже ПО для проведения Ddos атак, ботнетов, ддос панелей (стрессеров).
        <br />
    3.10. Запрещены темы, связанные с документами граждан любой страны (продажа сканов, удостоверений, отрисовка поддельных документов).
        <br />
    3.11. Запрещена торговля аккаунтами, гифтами, балансами банков, paypal, amazon, ebay, walmart (а также, кредитными картами), запрещены темы про вбив чего-либо с аккаунтов, карт, запрещена продажа товаров, полученных через "вбив".
        <br />
    3.12. Запрещена продажа/покупка/обмен баланса маркета. Исключения: отсутствие технической возможности вывести средства на QIWI; пополнение баланса маркета с Украинских, Казахстанских карт. Обмен средств разрешен в направлениях которые отсутствуют на форуме.
        <br />
    3.13. Запрещено продавать паки баз, заточек, АП, т.д и т.п. Исключения - дампы сайтов или разрешение со стороны Администрации форума.
        <br />
    3.14. Темы с продажами профилей от сторонних форумов запрещены.
        <br />
    3.15. Отзыв о товаре или услуге должен содержать доказательства ваших слов: скриншоты переписки с наличием юзернейма, чеки переводов, фотографии выполненных работ. Бездоказательные отзывы будут сразу удалены. Отрицательный отзыв с доказательствами будет висеть до рассмотрения в разделе "Жалобы". Более подробно в - FAQ.
        <br />
    3.16. Мошенничество на форуме запрещено. Мошенничество на других площадках (в т.ч. и мессенджерах) с учетных записей, идентифицирующих вас как пользователя этого форума (одинаковые контакты) запрещено. Будет наложена блокировка до возврата средств истцу.
        <br />
</p>

<h2>4. Содержимое сайта: </h2>
<p>
        <br />
    Предоставление скриншотов частной переписки, закрытой информации является нарушением конфиденциальности частной переписки, такую информацию нельзя передавать людям, не имеющим к ней доступа. Доступ к закрытой информации могут получить только пользователи сайта, а пользователи сайта ознакомлены и согласны с данными правилами сайта, о чем они поставили галочку при регистрации.
        <br />
    Все содержимое сайта оставляется пользователями сайта и не проходит никакой проверки. Закрытое содержимое сайта является частной перепиской пользователей и для просмотра посторонними людьми закрыто.
</p>

<h2>5. Общие положения</h2>
<p>
        <br />
    Регистрация Пользователя на Форуме является бесплатной, добровольной и означает безоговорочное согласие с настоящими Правилами, доступными "Тут".
        <br />
    Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие действующему законодательству, предоставленной при регистрации информации и ее чистоту от претензий третьих лиц.
        <br />
    Администрация не несет ответственность за содержимое сайтов, размещенных в рекламных блоках форума. Администрация имеет право по своему усмотрению, без дополнительных согласований хранить, обрабатывать и предоставлять третьим лицам любые данные, полученные от пользователя, в том числе "Персональные данные", В том числе получая эту информацию от "Третьих лиц". При этом Пользователь не вправе требовать от Администрации каких-либо компенсаций.
        <br />
    Пользователь соглашается получать информацию, в том числе рекламного характера, по электронной почте, телефону и иным реквизитам, указанным в персональном профиле Пользователя от Администрации и третьих лиц. Пользователь принимает услуги Форума по принципу "As is", Без каких либо гарантий со стороны Администрации.
        <br />
    Администрация не несет ответственности за работоспособность Сайта, прямые или косвенные убытки, возникшие вследствие его использования или не использования, а также технических сбоев. Администрация имеет право в одностороннем порядке заблокировать доступ любого Пользователя к Форуму, заблокировать и/или удалить аккаунт Пользователя, отредактировать данные аккаунта Пользователя, удалить с Сайта любой материал, размещенный Пользователем в одностороннем порядке без объяснения причин.
        <br />
</p>
</div>

