@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>Персональные данные</h3>

<div class="row">
    <div class="col-md-6">
        <p>На этой странице вы можете скачать или удалить свои данные.</p>
        <p>
            <strong>После удаления аккаунт не может быть восстановлен.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="download_btn btn btn-info" type="submit">Скачать</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
