@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>Двухфакторная аутентификация (2FA)</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>У вас не осталось кодов восстановления.</strong>
                    <p>Вы должны <a asp-page="./GenerateRecoveryCodes">сгенерировать новые коды восстановления</a> до того как сможете зайти в аккаунт.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>У вас остался 1 код восстановления.</strong>
                    <p>Вы можете <a asp-page="./GenerateRecoveryCodes">сгенерировать новые коды восстановления</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>У вас @Model.RecoveryCodesLeft кодов восстановления.</strong>
                    <p>Вам следует <a asp-page="./GenerateRecoveryCodes">сгенерировать новые коды восстановления</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Забыть этот браузер</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Disable 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Удалить коды восстановления</a>
        }

        <h4>Установка 2-ух факт. аутентификации</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-info">Добавить аутентификацию</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-info">Установить двухфакторную аутентификацию</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-info">Удалить двухфакторную аутентификацию</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Политика конфиденциальности отклонена.</strong>
            <p>Для использования двухфакторной аутентфикации вы должны принять политику.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
